includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - routes
        - tests

    level: 8

    excludePaths:
        - app/Http/Controllers/Auth/*
        - routes/console.php
        - routes/auth.php
        - routes/channels.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
